:root {
  --prymary-fonts: 'Roboto', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --primary-white-color: #fff;
  --classic-background-color: #f4f4fd;
  --adres-text-color: #434455;
  --button-color: #4D5AE5;
  --nav-log-foot-color: #2e2f42;
  --brand-color: #404bbf;
  --cornflower: #E7E9FC;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --dairy: #FCFCFC;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* others form*/
  --indent: 24px;
  --items: 4;
}

/* base styles */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: var(--prymary-fonts, 'Roboto', sans-serif);
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* IMG gum */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  font-family: inherit;
  cursor: pointer;
}


/* reset ends */
.section {
  padding-bottom: 120px;
}

/* container */
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

  /* Рамки, підсвічують контерйнер */
  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* visual hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Top line */
.block-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-nav {
  display: flex;
  justify-content: space-between;

}

.navigation {
  display: flex;
  align-items: center;
  background-color: var(--primary-white-color, #ffffff);
}

.web-logo {
  display: flex;
  align-items: center;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  color: var(--button-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.studio-logo {
  color: var(--nav-log-foot-color, #2e2f42);

}

.list-nav {
  display: flex;
  gap: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.link-nav {
  position: relative;
  display: block;
  padding: 24px 0;
  font-style: normal;
  transition: color var(--transition);
  color: var(--brand-color);

}

.link-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;

}

.link-nav.current::after {
  background-color: var(--brand-color);
}

.link-nav .current {
  color: var(--brand-color);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--brand-color);
}

.adress {
  font-size: 16px;
  color: var(--adres-text-color);
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
}

.list-adress {
  display: flex;
  gap: 40px;
  /* align-items: center; */
}

.adsress-menu {}

.adress-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
  transition: color var(--transition);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--brand-color);
}

/* 
main section 
*/
.block-main {}

/* dark block section */
.sections-dark {
  padding: 188px 0;
  background: var(--nav-log-foot-color, #2e2f42);
  flex-shrink: 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url(../images/background-img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.title-major {
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color, #ffffff);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  /* 107.143% */
  letter-spacing: 0.02em;
  text-align: center;
}


.major-button {
  align-items: center;
  margin: 0;
  padding: 16px 32px;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  border: none;
  background: var(--button-colors, #4d5ae5);
  color: var(--primary-white-color, #ffffff);
  font-family: var (--prymary-fonts);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  /* 107.143% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  transition: background-color var(--transition);
}

.major-button:hover,
.major-button:focus {
  background: var(--brand-color, #404bbf);
}


/* Fatures section */
.sections-feature {
  padding-top: 120px;
  background-color: var(--primary-white-color);
}

.furture-container {}

.future-list {}

.title-future-desc {}

.title-future {
  margin-bottom: 8px;
  color: var(--nav-log-foot-color, #2e2f42);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  /* 120% */
  letter-spacing: 0.02em;
  text-align: start;
}

.future-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--classic-background-color);
  margin-bottom: 8px;
}

.future-icom {}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}



.text-desc {
  color: var(--adres-text-color, #434455);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  /* 150% */
  letter-spacing: 0.02rem;
}

/* What are we doing section */
.sections-what-are {
  background-color: var(--primary-white-color);
}

.container-what-img {}

.title-whatare-item {
  color: var(--nav-log-foot-color, #2e2f42);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;

}

.block-image-what {}

.block-image-line {
  --items: 3;
}

/* Team section */
.sections-team {
  padding-top: 120px;
  background-color: var(--classic-background-color);
}

.container-taem {}

.title-team-list {
  margin-bottom: 72px;
  color: var(--nav-log-foot-color, #2e2f42);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-box-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  text-align: center;
}

.title-our-team {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  --item: 4;
}

.name-our-team {
  padding-top: 32px;
  padding-bottom: 32px;

}

.team-list-name {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--nav-log-foot-color);
  line-height: 1.2;
  margin-bottom: 38px;
  margin-bottom: 8px;
  text-align: center;
}

.desc-name {
  color: var(--adres-text-color, #434455);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  /* 150% */
  letter-spacing: 0.02rem;
  text-align: center;
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  fill: var(--classic-background-color);
  background-color: var(--button-color);
  transition: background-color var(--transition);
}

.team-social-link:hover {
  background-color: var(--brand-color);
}

.team-social-link:focus {
  background-color: var(--brand-color);
}


/* Cuctomers section */

.customers-section {
  padding: 120px 0;
}

.customers-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--nav-log-foot-color);
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-list-item {}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  color: var(--lightslate);
  transition: color var(--transition), border-color var(--transition);
}

.customers-list-link:hover {
  border-color: var(--brand-color);
  color: var(--brand-color);
}

.customers-list-link:focus {
  border-color: var(--brand-color);
  color: var(--brand-color);
}

.customers-icons {
  fill: currentColor;
}


/* Porfolio */
/* sektion button */
.section-but-port {
  padding: 96px 0 120px 0;
  display: block;
}

.container-but-port {}

.button-port-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
  padding: 0;
}

.button-port-item: {
  transition: var(--transition);
}

.button-port-link {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: var(--prymary-fonts, 'Roboto', sans-serif);
  border: 1px solid var(--cornflower, #E7E9FC);
  color: var(--button-colors, #4d5ae5);
  background-color: var(--classic-background-color, #f4f4fd);
  font-weight: 500;
  font-size: 16px;
  transition line-height: 1.5em;
  letter-spacing: 0.04em;
  min-width: 69px;
  min-height: 48px;
}

.button-port-link:hover,
.button-port-link:focus {
  color: var(--primary-white-color);
  background-color: var(--brand-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/* Images section */


.images-list-port {

  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;

}

.images-link-port {
  display: block;
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--cornflower, #E7E9FC);
  list-style: none;
  flex-shrink: 0;
}


.desc-title-port {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  background: var(--primary-white-color);
  border-top: none;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-list-link {
  display: block;
  transition: var(--transition);

}

.portfolio-list-link:hover .overlay-text,
.portfolio-list-link:focus .overlay-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition);
  width: 100%;
  height: 100%;
  display: flex;
  width: 360px;
  height: 300px;
  flex-shrink: 0;
  background-color: var(--brand-color);
  padding: 40px 32px;
  color: var(--classic-background-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title-port-img {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;

}


.text-desc-port {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  /* 150% */
  letter-spacing: 0.02em;
}


/* Footer section */
.footer-section {
  padding: 100px 0;
  background: var(--nav-log-foot-color);
}

.footer-main-container {
  display: flex;
  align-items: baseline;
}

.container-footer {
  display: block;
  margin-right: 120px;
}

.fotter-social-container {
  display: block;
}

.web-logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.studio-logo-footer {
  color: var(--classic-background-color);

}

.text-desc-foot {
  width: 264px;
  color: var(--classic-background-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.fotter-social-desc {
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  fill: var(--classic-background-color);
  background-color: var(--button-color);
  transition: background-color var(--transition);
}

.footer-social-link:hover {
  background-color: var(--green);
}

.footer-social-link:focus {
  background-color: var(--green);
}

/* Modal Window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(17, 17, 17, 0.5);
  backdrop-filter: blur(1px);

  transition: var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;

  width: 408px;
  min-height: 584px;
  border-radius: 5px;
  background-color: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-70%);
  opacity: 0;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition), border var(--transition);
}

.modal-btn:hover {
  background-color: var(--brand-color);
  border: none;
}

.modal-btn:focus {
  background-color: var(--brand-color);
  border: none;
  fill: #ffffff;
}

.modal-btn-icon {
  transition: fill var(--transition);
}